.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

  }

  &__input {
    padding: 1.5rem 2rem;
    border-radius: 2px;
    font-size: 1.5rem;
    background-color: rgba($color-white, 50%);
    border: none;
    font-family: inherit;
    color: inherit;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s;
    @include whenMedium {
      width: 100%;
    }

    &:focus:invalid {
      border-color: $color-secondary-dark;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-color: $color-primary;
    }

    &::placeholder {
      color: $color-gray-dark-2;
    }

  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transform: translateY(0);
    transition: all .3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include whenMedium {
      width: 100%;
      margin-bottom: 2.5rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    cursor: pointer;
    position: relative;
    padding-left: 4rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -5px;

    &::after {
      content: "";
      height: 1.3rem;
      width: 1.3rem;
      background-color: $color-primary;
      border-radius: 100%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity .2s;
    }
  }

  &__radio-input:checked + &__radio-label > &__radio-button::after {
    opacity: 1;
  }
}